.hands {
    width: 40%;
    height: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    width: 100px;
    height: 100px;
    border: 10px solid;
}

.flexbox-container {
    display: flex;
    justify-content: center;   
    align-items: center;
    justify-content: space-around;
}

.options {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.row {
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    justify-content: space-around;
}